@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #8CC461;
    font-family: "Roboto", sans-serif;
    
}
/****************************************Display Scores css*******************************************/
.box{
    border: 2px solid white;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 40px;
    margin: 0;
    font-weight: 600;
    color: white;
    padding: 0;
    letter-spacing: 4px;
}

#Computer-Score-display{
    width: 139px;
    height: 120px;
    border-radius: 9px;
    background-color: white;
    color: #656565;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding: 7px;
    letter-spacing: 2px;
    margin-right: 29px;
}
#Your-Score-display{
    width: 139px;
    height: 120px;
    border-radius: 9px;
    background-color: white;
    color: #656565;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding: 7px;
    letter-spacing: 2px;
}

#Comp-Score-display{
    font-size: 80px;
    color: #252525;
}
#User-Score-display{
    font-size: 80px;
    color: #252525;
}

.Score-box{
    display: flex;
    
}

/**********************************Rules box css************************************************************/

#rules-box{
    background-color: #004429;
    border: 7px solid white;
    width: 278px;
    height: 335px;
    border-radius: 13px;
    position: absolute;
    bottom: 60px;
    right: 38px;
    margin-top: -390px;
    display: none;
    z-index: 101;
}

h4{
    text-align: center;
    font-size: 29px;
    color: white;
}

#cancel-btn{
    position: absolute;
    right: -30px;
    top: -40px;
}

ul{
  margin-top: -20px;
}

li{
    font-size: 13px;
    color: white;
    margin-bottom: 10px;
    padding: 2px;
    padding-right: 10px;
    font-weight: 400;
    
    
}

li::marker {
    color: #FFD600;
   font-size: 15px;
}

.allbtns{
   position: absolute;
   right: 0;
   bottom: 10px;
   z-index: 100;
}

#Rules-btn{
    padding: 10px 30px;
    font-size: 21px;
    border-radius: 10px;
    letter-spacing: 5px;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    margin-top: -30px;
    margin-right: 38px;
    cursor: pointer;
}
/**********************************NEXT BUTTON css************************************************************/
#Next-btn{
    padding: 10px 30px;
    font-size: 21px;
    border-radius: 10px;
    letter-spacing: 5px;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    margin-right: 38px;
    cursor: pointer;
    display: none;
}

/**********************************Selcect Options/Buttons css************************************************************/

.options{
    display: none;
}
.select-options{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.select-options-2{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    
}

.line1{
    transform: rotate(90deg);
    z-index: -1;
    width: 20px;
}
.line2{
    transform: rotate(330deg);
    z-index: -1;
    margin-top: -150px;
    width: 20px;
    height: 200px;
}

.line3{
    transform: rotate(30deg);
    z-index: -1;
    height: 180px;
    margin-top: -150px;
    height: 200px;
    width: 20px;
}


/*******************************************Match area**************************************/

#match-area{
    align-items: center;
    display: none;
    margin-left: 180px;
    margin-right: 180px;
}

#play-again{
    display: block;
    margin: 0 auto;
    padding: 14px 30px;
    border-radius: 9px;
    letter-spacing: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
}

#result{
    position: absolute;
    margin: auto;
    margin-top: -100px;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: white;
    letter-spacing: 2px;
    line-height: 26px;
}

.txt{
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    font-weight: 800;
    display: inline-flex;
}


h5{
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1em;
    margin-top: 90px;
    color: white;
    padding: 0;
    z-index: 100;
}

#match-title{
    display: flex;
    justify-content: space-around;
    display: none;
    z-index: 100;
}
/******************************************Winners highlight background**********************************/
#win-box{
    margin:  auto;
    display: none;
}

#winner-background{
    display: flex;
    justify-content: space-around;
    grid:180px;
    margin-top: -130px;
    z-index: -1;
    
}

#user-Winner-Background{
    opacity: 0;
}

#comp-Winner-Background{
    opacity: 0;
}

/*****************************************Winners/Trophy Page*******************************************/

#Winner-page{
   margin: 0 auto;
   text-align: center;
   display: none;
   align-items: center;
}

#txt1{
    font-size: 91px;
    font-weight: 600;
    color: white;
}

#txt2{
    font-size: 41px;
    font-weight: 600;
    color: white;
    margin-top: 25px;
}
/*****************************************Play again btn winner page css*******************************************/
#play-again-btn-win-page{
    display: block;
    margin: 50px auto;
    padding: 14px 30px;
    border-radius: 9px;
    letter-spacing: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
}

/*****************************************Rules btn winner page css*******************************************/
#Rules-btn-win-page{
    padding: 10px 30px;
    font-size: 21px;
    border-radius: 10px;
    letter-spacing: 5px;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    margin-right: 38px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 10px;
}

#rules-box-winner-page{
    background-color: #004429;
    border: 7px solid white;
    width: 278px;
    height: 335px;
    border-radius: 13px;
    position: absolute;
    bottom: 60px;
    right: 38px;
    margin-top: -390px;
    display: none;
    z-index: 101;
}

#cancel-btn-two{
    position: absolute;
    right: -30px;
    top: -40px;
}}